@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ivory: #fffcf0;
}

body {
  background: var(--ivory);
  width: 1350px;
  max-width: 1350px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.custom_clip_path {
  clip-path: polygon(50% 0%, 26% 100%, 77% 100%);
}
